header{
    background-image: url("ps/bar-gecac9eafc_1280.jpg");
    background-color: black;
    padding-top: 30%;
}
p{
    font-size: 20px;
    position: absolute;
    top: 415px;
    left: 45px;
}
main {   
    min-height: 2000px;
    background-color: black;
}
article{
    padding: 10%;
    
}
.search{
    color: white;
    font-size: 30px;
    position: absolute;
    padding-top: 7%;
    padding-left: 25%;
}
.fa-search{
    
    position: absolute;
    padding-top: 1%;
    padding-left: 1%;

}
input{
    color: black;
    width: 30em;
    height: 40px;
    font-size: 15px;
}
.out-of-message-card-01{
   
    color: white;
    position: absolute;
    padding-top: 35%;
    padding-left: 25%;
}
.out-of-message-card-02{
    color: white;
    position: absolute;
    padding-top: 55%;
    padding-left: 25%;
}
footer{
    background-color: black;
    color: gray;
    
}

